/* PROGRESS CIRCLE COMPONENT */
.circliful {
    margin:auto;
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    color:#F35A24;    
}
.circle-text{
    top: 5%;
    right: -2%;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
.prg-text{
    position: absolute;
    font-size: 16px;
    color: #404040;
    top: 25%;
    right: 35%;   
}
